# Môi trường ảo Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# File chứa biến môi trường nhạy cảm
.env

# Thư mục tạm và output (tùy chọn, nhưng nên có)
temp/
output/

# File log
*.log

# Cấu hình IDE/Editor
.vscode/
.idea/

.history/